Checks: >-
  bugprone-*,
  cert-*,
  google-*,
  cppcoreguidelines-*,
  hicpp-*,
  modernize-*,
  readability-*,
  performance-*,
  portability-*,
  concurrency-*,
  misc-*,
  clang-analyzer-*,
  -bugprone-easily-swappable-parameters,
  -cert-err33-c,
  -clang-analyzer-unix.Malloc,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -hicpp-uppercase-literal-suffix,
  -hicpp-no-array-decay,
  -hicpp-avoid-c-arrays,
  -hicpp-vararg,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  -readability-avoid-nested-conditional-operator,
  -google-runtime-int
