InheritParentConfig: true
Checks: >-
  -bugprone-throwing-static-initialization,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -google-readability-avoid-underscore-in-googletest-name,
  -hicpp-avoid-do-while,
  -hicpp-signed-bitwise,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  -readability-isolate-declaration,
  -readability-simplify-boolean-expr,
